# -----------------------------------------
# CORE INFRASTRUCTURE - NETWORK CREATION
# -----------------------------------------


# Этот файл создает базовую сеть school_net
# для всех остальных сервисов в проекте
