# ----------------------------
# Настройки Logs (ELK Stack)
# ----------------------------

# Переменные загружаются из services/core.env и services/logs.env

# Elasticsearch переменные
discovery.type=${LOGS_ELASTICSEARCH_DISCOVERY_TYPE:-single-node}
xpack.security.enabled=${LOGS_ELASTICSEARCH_SECURITY_ENABLED:-false}
cluster.name=${LOGS_ELASTICSEARCH_CLUSTER_NAME:-es-docker-cluster}
ELASTICSEARCH_PORT=${LOGS_ELASTICSEARCH_PORT:-9200}
ELASTICSEARCH_HEALTHCHECK_INTERVAL=${LOGS_ELASTICSEARCH_HEALTHCHECK_INTERVAL:-10s}
ELASTICSEARCH_HEALTHCHECK_TIMEOUT=${LOGS_ELASTICSEARCH_HEALTHCHECK_TIMEOUT:-5s}
ELASTICSEARCH_HEALTHCHECK_RETRIES=${LOGS_ELASTICSEARCH_HEALTHCHECK_RETRIES:-20}
ELASTICSEARCH_HEALTHCHECK_START_PERIOD=${LOGS_ELASTICSEARCH_HEALTHCHECK_START_PERIOD:-30s}

# Kibana переменные
ELASTICSEARCH_HOSTS=${LOGS_KIBANA_ELASTICSEARCH_URL:-http://elasticsearch:9200}
XPACK_SECURITY_ENABLED=${LOGS_KIBANA_SECURITY_ENABLED:-false}
KIBANA_PORT=${LOGS_KIBANA_PORT:-5601}
KIBANA_HEALTHCHECK_INTERVAL=${LOGS_KIBANA_HEALTHCHECK_INTERVAL:-10s}
KIBANA_HEALTHCHECK_TIMEOUT=${LOGS_KIBANA_HEALTHCHECK_TIMEOUT:-5s}
KIBANA_HEALTHCHECK_RETRIES=${LOGS_KIBANA_HEALTHCHECK_RETRIES:-20}
KIBANA_HEALTHCHECK_START_PERIOD=${LOGS_KIBANA_HEALTHCHECK_START_PERIOD:-30s}